{% extends "base.html" %}

{% block base_content %}
<h1>Welcome to the Archive</h1>
<p>Bear in mind that this database is not exhaustive. We use it to log the information most important to us. We do our best to keep it up-to-date.</p>
<ul>
    <li><a href="{% url 'ulist' %}">List of all universes</a></li>
        <ul><li><a href="{% url 'glist' %}">List of game universes</a></li></ul>
    <li><a href="{% url 'clist' %}">List of characters</a></li>
    <li><a href="{% url 'alist' %}">List of artifacts</a></li>
    <li><a href="/archive/documents/">Other documents</a></li>
</ul>
{% endblock %}
