{% load cms_tags sekizai_tags %}
{% load menu_tags %}

{% load webdesign %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}

    <div id="page-wrapper">
    
        <div id="header">
            <span id="logo-cell"><a href="/"><img id="logo" src="{% static 'small-logo.png' %}" alt="Logo" /></a></span>
            <ul id="navlist">
                <li><a href="/">Home</a></li
                ><li><a href="/archive/">Archive</a></li
                ><li><a href="/community/">Community</a></li
                ><li><a href="http://hmpg.net/">Vendors</a></li
                ><li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div> <!-- end header -->

            <div id="content">
                {% block breadcrumbs %}
                <ul id="cms-breadcrumb">{% show_breadcrumb %}</ul>
                {% endblock breadcrumbs %}
                {% placeholder base_content %}
                {% block base_content %}{% endblock %}
            </div>
        </div> <!-- end wrapper -->
    </div> <!-- end page-wrapper -->

    <div id="footer">
        <a href="/help/">Help</a> | <a href="/bug-report/">Report a bug</a> | <a href="/copyright/">Copyright and terms of use</a>
    </div>

    {% render_block "js" %}
</body>
</html>
